@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

.main-container {
    
}

.main-container h1 {
    padding: 25px;
    text-align: center;
}

.nav-bar {
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.312);
}

.nav-bar > a {
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5;
}

.nav-bar > a:hover {
    background-color: darkgray;
    transition: 0.5s;
}

.dash-container {
    display: flex;
    justify-content: center;
    height: 100;
}

.notes-container {
    text-align: center;
}

.dash {
    margin: 15px;
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.5s;
}

.dash:hover {
    background-color: rgba(131, 131, 131, 0.381);
    
}

