@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

.main-container {
    text-align: center;
}

.main-container h1 {
    padding: 25px;
    text-align: center;
}

.dash-container {
    display: flex;
    justify-content: center;
    height: 100;
}

.notes-container {
    text-align: center;
}

.dash {
    margin: 15px;
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.5s;
}

.dash:hover {
    background-color: rgba(131, 131, 131, 0.381);
    
}

.main-container .button {
    width: 100px;
    height: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    background-color: blue;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.main-container .button:hover {
    background-color: darkblue;
}

.button a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}